li a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.bg-footer {
    background-image: url(./assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;   
}

.white {
    color: white;
}

.followus {
    color: blue;
    font-weight: bold;
}

.bg-light-grey {
    background-color: rgba(0, 0, 0, 0.783);
}

.mb-0 {
    margin-bottom: 0;
}